@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Righteous&display=swap');

@import "tailwindcss";

@theme {
    --color-off-white: #F5F5F5;
    --color-gray: #6D6D6D;
    --color-gray-soft: #AEAEAE;
    --color-gray-light: #F1EDEC;
    --color-gray-lighter: #F5F5F5;
    --color-gray-dark: #383838;
    --color-dark-green: #005840;
    --color-light-green: #C9D641;
}

html {
    scroll-behavior: smooth;
}

body {
    /* @apply bg-[#F1EDEC] text-[#383838]; */
    font-family: 'Quicksand', sans-serif;
    color: #383838;
}

.loader {
    width: 18px;
    height: 18px;
    border: 1px solid #005840;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 